* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.mobile{
    display: none;
}
.mobile-filter{
    display: none;
}
.tabs-mob{
    display: none;
}

// Global Colors

$black: #000000;
$white: #FFFFFF;
$green: #A4B96D; 
$fontBlack:#343434;
$fontmenuBlack: #30323A;
$fontFooter: #4B4040;
$priceGreen: #40C846;
$lightGray: #F6F6F6;
$loadingColor: #8B8B8B;
$footerGray: #E0DFDD;
$footerSearchbar: #EEEEEE;
$footerSocialicon: #C4C4C4;
$filtersRow: #E8E8E8;
$Borders: #D1D1D1;
$Name: #B1B3B6;


// Global Fonts
.MuiSlider-root {
    color: $green !important;
}
$font-primary: 'Open Sans', sans-serif !important;

// Body

body{
    font-family: $font-primary;
}

//Top Bar
.top-bar{
    color: $white;
    background-color: $black;
    text-align: center;
    min-height: 38px;
    span {
    text-decoration: underline;
    }
    
}
.search-area{
    background: $lightGray;
    border-radius: 7px;
    padding: 8px 0 8px 17px;
    .search{
        padding-right: 0px;
    }
    .userIcon{
        margin-left: 20px;
        padding-right: 10px;
    }
    img{
        padding-left: 20px;
    }
}
.closeUser{
    display: none;
}
.openUser{
    display: block;
}
.dropdownPosition{
    position: absolute;
    top: 80px;
    right: 13px;
    text-align: center;

}

.tabs{
    text-align: right;
    a{
        padding-right: 17px;
        text-decoration: none;
        color: $fontmenuBlack !important;
    }
}

.tab-btn{
    color: $white;
    background-color: $green;
    border-radius: 35px;
    min-width: 174px;
    min-height: 47px;
    border:none;
}
.tab-btnSmall{
    color: #FFFFFF;
    background-color: #A4B96D;
    border-radius: 35px;
    min-width: 101px;
    min-height: 33px;
    border: none;
}

.heading-home{
    margin-top: 8rem !important;

    h1{
    font-weight: 700;
    line-height: 64px;
    }
}

.heading-home-btn{
    color: $white;
    background-color: $green;
    border-radius: 35px;
    border:none;
    min-width: 238px;
    min-height: 57px;
}

.filters{
    p{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 37px;  
        color: $fontmenuBlack;
    }
    span{ 
        padding-left: 14px;
    }

}
.MuiDialog-paperWidthSm {
    max-width: 308px !important;
}
.MuiSlider-thumb {
    width: 20px;
    height: 20px;
}

.product-text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $fontmenuBlack;
}

.product-subtext{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $fontmenuBlack;
}

.product-price{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $priceGreen;
    
}

.products-offers{
    width: 75% !important;
    margin: 0 auto;
    button{
        background-color: $fontBlack;
        border-radius: 4px;
        border: none;
        color: $white;
        font-size: 13px;
        font-weight: 700;
        line-height: 32px;
        width: 191px;
        height: 46px;
    }
}

.left-offer{
    background-color: $lightGray;
    border-radius: 10px;
}

.right-offer{
    background-repeat: round;
    // margin-left: 40px;
}

.loading{
    text-align: center;
    p{
     font-size: 13px;
     font-weight: 700;
     color: #8B8B8B;   
    }
}

// filter
.mobile-mod img{
    width: 30px;
}
.bttn{
    border: none !important;
}
.test{
    .MuiDialog-scrollPaper{
        display: block;
    }  
}


// sidebar

.sidebar-inner{
    width: 100%;
}
.side-bar{
    list-style: none;
    .options{
        padding: 2px 9px;
        border-radius: 11px;
        border: 1px solid $Borders;
        color: $Borders;
        font-size: 12px
    }
    svg{
        width: 17px;
    }
    p{
        width: 100%;
    }
    .options{
        float: right;
    }
    .name2{
        padding-left: 33px;
        color: $Name;
        font-size: 14px;
        text-decoration: underline;
    }
}
.notify {
    padding:  5px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid $Borders;
    color: $Borders;
    font-size: 12px;
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color: $green !important;
}
.rang-slide{
    .up{
        background: #efefef;
        font-size: 14px;
        color: #6B7280;
        padding: 12px 43px;
    }
    .down{
        background: #efefef;
        font-size: 14px;
        color: #6B7280;
        padding: 12px 43px;
    }
    .mid{
        padding: 0 45px;
    }
}
// sidebar

// product main page
.product-info{
    text-align: left;
    p{
        color: $fontmenuBlack;
        font-size: 12px;
        font-family: $font-primary;
    }
    h5{
        font-size: 16px;
        font-weight: 700;
        color: $fontmenuBlack;
        font-family: $font-primary;
    }
    h6{
        color: $green;
        font-size: 16px;
        font-weight: 700;
    }
    img{
        width: 100%;
        display: block;
    }
}
// product main page

// footer


.footer-socials{
    text-align: right;
    .fb{
        img{
            width: 12px;
        }
    }
    .insta{
        img{
            width: 15px;
        }
    }
    span{
        background: $footerSocialicon;
        padding: 8px 13px;
        border-radius: 50%;
    }
}

.footer-main{
background-color:$footerGray ;
}

.links{
    p{
        font-weight: bold;
        font-size: 17px;
        line-height: 27px;
        color: $fontFooter;
    }
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 23px;
        color: $fontFooter;
    }
}

.footer-search{
    background-color: $footerSearchbar;
    border-radius: 4px;
    span{
        float: right;
    }
    p{
       font-weight: 600;
       font-size: 14px; 
    }
}

.copyright-text{
    font-weight: 600;
    font-size: 12px;
}

.product-image{
    width: 100%;
}

.justify{
    justify-content: flex-end;
}

.mobile-mod{
    position: relative;
    left: -65px;
    
}
.mobile-mod button{
    background: $filtersRow;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.headingHomeDisplay{

}
.filtersContainerDisplay{

}

// Mobile

@media only screen and (max-width: 991px) {
    .filtersContainerDisplay{
    display: none;
    }
    .headingHomeDisplay{
    display: none;
    }
    .filters container{
        display: none;
    }
    .web{
        display: none;
    }
    .tabs-mob{
        display: block;
    }
    button.mr-5.navbar-toggler.collapsed {
        display: none;
    }
    .mobile-filter{
        display: block;
    }
    .mobile{
        display: block;
    }
    .justify{
        justify-content: flex-end;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .tabs{
        display: contents;
        .search-area{
            margin-bottom: 15px;
        }
        .tab-btn{
            margin-top: 15px;
        }
        
    }
    div#responsive-navbar-nav{
        background: $filtersRow;
        padding: 21px 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  @media only screen and (max-width: 580px) {
    .custom-width{
        width: 50% !important;
    }

    .tabs{
        display: flex;
        flex-direction: column;
    }

    .tabs a{
        padding-right: 0px;
        padding-bottom: 15px;
    }

  }

.right-offer-img{
    width: 100%;
    // margin-left: -10%;
    border-radius: 6px;
    height: 100%;
}

// add by Tk

.footer-main .footerLinks p{
    font-size: 18px;
    line-height: 27px;
    color: #000000;

}
.footer-main .footerLinks .linkAnna{
    color: #4B4040;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-top: 9px;

}
.footer-main .footerLinks a{
    color: #4B4040;
    text-decoration: none;
    font-weight: 600;
    line-height: 38px;
}

.FaChevronLeftDisplay{
    display: none;
}



@media only screen and (max-width: 450px) {
    .FaChevronLeftDisplay{
        display: inline;
    }
    .left-offer{
        display: none;
    }
    .right-offer{
        display: none;
    }
  }
  .spinner-loader{
    animation: App-logo-spin infinite 1s linear;
}
.FaChevronLeftDisplaySmallScreen{
   display: none;
}

@media only screen and (max-width: 321px) {
 .applyOnXsScreen{
    width: 110px;
 }
 .FaChevronLeftDisplayOnLargeScreen{
    display: none;
  }
 .FaChevronLeftDisplaySmallScreen{
    display: inline;
 }

}
