* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.mobile{
    display: none;
}
.mobile-filter{
    display: none;
}
.tabs-mob{
    display: none;
}

// Global Colors

$black: #000000;
$white: #FFFFFF;
$green: #A4B96D; 
$fontBlack:#343434;
$fontmenuBlack: #30323A;
$fontFooter: #4B4040;
$priceGreen: #40C846;
$lightGray: #F6F6F6;
$loadingColor: #8B8B8B;
$footerGray: #E0DFDD;
$footerSearchbar: #EEEEEE;
$footerSocialicon: #C4C4C4;
$filtersRow: #E8E8E8;
$Borders: #D1D1D1;
$Name: #B1B3B6;


// Global Fonts
.MuiSlider-root {
    color: $green !important;
}
$font-primary: 'Open Sans', sans-serif !important;

// Body

body{
    font-family: $font-primary;
}

//Top Bar
.top-bar{
    color: $white;
    background-color: $black;
    text-align: center;
    min-height: 38px;
    span {
    text-decoration: underline;
    }
    
}
.search-area{
    background: $lightGray;
    border-radius: 7px;
    padding: 8px 0 8px 17px;
    .search{
        padding-right: 0px;
    }
    .userIcon{
        margin-left: 20px;
        padding-right: 10px;
    }
    img{
        padding-left: 20px;
    }
}
.closeUser{
    display: none;
}
.openUser{
    display: block;
}
.dropdownPosition{
    position: absolute;
    top: 80px;
    right: 13px;
    text-align: center;

}

.tabs{
    text-align: right;
    a{
        padding-right: 17px;
        text-decoration: none;
        color: $fontmenuBlack !important;
    }
}

.tab-btn{
    color: $white;
    background-color: $green;
    border-radius: 35px;
    min-width: 174px;
    min-height: 47px;
    border:none;
}
.tab-btnSmall{
    color: #FFFFFF;
    background-color: #A4B96D;
    border-radius: 35px;
    min-width: 101px;
    min-height: 33px;
    border: none;
}

.heading-home{
    margin-top: 8rem !important;

    h1{
    font-weight: 700;
    line-height: 64px;
    }
}

.heading-home-btn{
    color: $white;
    background-color: $green;
    border-radius: 35px;
    border:none;
    min-width: 238px;
    min-height: 57px;
}

.filters{
    p{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 37px;  
        color: $fontmenuBlack;
    }
    span{ 
        padding-left: 14px;
    }

}
.MuiDialog-paperWidthSm {
    max-width: 308px !important;
}
.MuiSlider-thumb {
    width: 20px;
    height: 20px;
}

.product-text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $fontmenuBlack;
}

.product-subtext{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $fontmenuBlack;
}

.product-price{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $priceGreen;
    
}

.products-offers{
    width: 75% !important;
    margin: 0 auto;
    button{
        background-color: $fontBlack;
        border-radius: 4px;
        border: none;
        color: $white;
        font-size: 13px;
        font-weight: 700;
        line-height: 32px;
        width: 191px;
        height: 46px;
    }
}

.left-offer{
    background-color: $lightGray;
    border-radius: 10px;
}

.right-offer{
    background-repeat: round;
    // margin-left: 40px;
}

.loading{
    text-align: center;
    p{
     font-size: 13px;
     font-weight: 700;
     color: #8B8B8B;   
    }
}

// filter
.mobile-mod img{
    width: 30px;
}
.bttn{
    border: none !important;
}
.test{
    .MuiDialog-scrollPaper{
        display: block;
    }  
}


// sidebar

.sidebar-inner{
    width: 100%;
}
.side-bar{
    list-style: none;
    .options{
        padding: 2px 9px;
        border-radius: 11px;
        border: 1px solid $Borders;
        color: $Borders;
        font-size: 12px
    }
    svg{
        width: 17px;
    }
    p{
        width: 100%;
    }
    .options{
        float: right;
    }
    .name2{
        padding-left: 33px;
        color: $Name;
        font-size: 14px;
        text-decoration: underline;
    }
}
.notify {
    padding:  5px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid $Borders;
    color: $Borders;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 20px
}
.notify-fill{
    width: 25px;
    height: 25px;
    background: #A4B96D;
    border-radius: 50%;
    padding: 10px 13px !important;
    box-sizing: border-box;
    color: #FFFFFF;
}
.notify-inner{
    position: absolute;
width: 8px;
height: 37px;
left: 268px;
top: 502px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 37px;
/* identical to box height, or 264% */


color: #FFFFFF;
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color: $green !important;
}
.rang-slide{
    .up{
        background: #efefef;
        font-size: 14px;
        color: #6B7280;
        padding: 12px;
    }
    .down{
        background: #efefef;
        font-size: 14px;
        color: #6B7280;
        padding: 12px;
    }
    .mid{
        padding: 9px 45px 9px 30px;
    }
}
// sidebar

// slider
.loaderContainer {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(255,255,255,0.6);
}
.loaderContainer .text-center {
    position: relative;
    left: 0;
    top: 20%;
}

// product main page
.product-info{
    text-align: left;
    p{
        color: $fontmenuBlack;
        font-size: 12px;
        font-family: $font-primary;
    }
    h5{
        font-size: 16px;
        font-weight: 700;
        color: $fontmenuBlack;
        font-family: $font-primary;
    }
    h6{
        color: $green;
        font-size: 16px;
        font-weight: 700;
    }
    img{
        width: 100%;
        display: block;
    }
}
// product main page

// footer
.filter-count{
    margin-right: 10px;
}

.footer-socials{
    text-align: right;
    .fb{
        img{
            width: 12px;
        }
    }
    .insta{
        img{
            width: 15px;
        }
    }
    span{
        background: $footerSocialicon;
        padding: 8px 13px;
        border-radius: 50%;
    }
}

.footer-main{
background-color:$footerGray ;
}

.links{
    p{
        font-weight: bold;
        font-size: 17px;
        line-height: 27px;
        color: $fontFooter;
    }
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 23px;
        color: $fontFooter;
    }
}

.footer-search{
    background-color: $footerSearchbar;
    border-radius: 4px;
    span{
        float: right;
    }
    p{
       font-weight: 600;
       font-size: 14px; 
    }
}

.copyright-text{
    font-weight: 600;
    font-size: 12px;
}

.product-image{
    width: 100%;
}

.justify{
    justify-content: flex-end;
}

.mobile-mod{
    position: relative;
    left: -65px;
    
}
.mobile-mod button{
    background: $filtersRow;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// Mobile

@media only screen and (max-width: 991px) {
    .filtersContainerDisplay{
    display: none;
    }
    .headingHomeDisplay{
    display: none;
    }
    .filters container{
        display: none;
    }
    .web{
        display: none;
    }
    .tabs-mob{
        display: block;
    }
    button.mr-5.navbar-toggler.collapsed {
        display: none;
    }
    .mobile-filter{
        display: block;
    }
    .mobile{
        display: block;
    }
    .justify{
        justify-content: flex-end;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .tabs{
        display: contents;
        .search-area{
            margin-bottom: 15px;
        }
        .tab-btn{
            margin-top: 15px;
        }
        
    }
    div#responsive-navbar-nav{
        background: $filtersRow;
        padding: 21px 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  @media only screen and (max-width: 580px) {
    .custom-width{
        width: 50% !important;
    }

    .tabs{
        display: flex;
        flex-direction: column;
    }

    .tabs a{
        padding-right: 0px;
        padding-bottom: 15px;
    }

  }

.right-offer-img{
    width: 100%;
    // margin-left: -10%;
    border-radius: 6px;
    height: 100%;
}

// add by Tk

.topImg{
    text-align: center;
    img{
 
      
    }
}

.registerPageMain {
    padding-top: 40px;
}

.registerPageMain .topImg, .registerPageMain h6 {
    margin: 25px 0;
}

.bottomText{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-align: center;    
padding: 6rem;
    color: #161616;
    &:hover {
        color: #161616;
        text-decoration: none;
      }
}

.boxText{
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.footer-main .footerLinks p{
    font-size: 18px;
    line-height: 27px;
    color: #000000;

}
.footer-main .footerLinks .linkAnna{
    color: #4B4040;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-top: 9px;

}
.footer-main .footerLinks a{
    color: #4B4040;
    text-decoration: none;
    font-weight: 600;
    line-height: 38px;
}

.FaChevronLeftDisplay{
    display: none;
}



@media only screen and (max-width: 450px) {
    .FaChevronLeftDisplay{
        display: inline;
    }
    .left-offer{
        display: none;
    }
    .right-offer{
        display: none;
    }
  }
  .spinner-loader{
    animation: App-logo-spin infinite 1s linear;
}
.FaChevronLeftDisplaySmallScreen{
   display: none;
}

@media only screen and (max-width: 321px) {
 .applyOnXsScreen{
    width: 110px;
 }
 .FaChevronLeftDisplayOnLargeScreen{
    display: none;
  }
 .FaChevronLeftDisplaySmallScreen{
    display: inline;
 }

}


// add by satti
.box
{
    width: 30%;
    height: 30%;
    margin: 0 auto;
    background: #FFFFFF;
    border: 4px solid #F6F6F6;
    border-radius: 10px;
    padding-right: 38px;

}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    top: 258px;
    width: 100%;
}

.mainheader
{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
  
  * {
    box-sizing: border-box;
  }
  


  label
  {
      margin-left: 20px;
      padding-top: 20px;
      display: block !important;
  }

  .topHeading{
      text-align: center;
      margin-top: 20px;
  }
  
  input[type=text], input[type=password] ,input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 20px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {

    background-color: #ddd;
    outline: none;
  }
  
  .registerbtn {
    background-color: #A4B96D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin: 5px 0 22px 20px;
  }
  .registerbtnFb {
    background-color:  #507CC0;

    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin: 5px 0 22px 20px;
  }
  .registerbtnGoogle {
    background-color: #DF4930;
    padding: 0px 20px !important;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:100%;
    opacity: 0.9;
    margin: 5px 0 22px 20px;
  }
.mainimg1{
    position: absolute;
    right: 0px;
    top: 500px;
}
  .mainimg2{
    position: absolute;
    right: 200px;
    top: 220px;
  }

  .mainimg3{
    position: absolute;
    left: 0px;
    top: 100px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
.top-font
{

    /* width: 666px; */
    height: 110px;
    top: 129px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 55px;
    text-align: center;
    color: #343434;
    left: 38%;
}

.kep-login-facebook.metro {
    border-radius: 0;
    background-color: #507CC0;
    color: white;
    padding: 0px 20px 0px 20px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 89%;
    opacity: 0.9;
    margin: 5px 0 0px 20px;
    font-size: 14px!important;
}
.facebookIcon{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 1rem;
    left: 3rem;
}
.registerbtnGoogle{

    .botton{
          background-color: #DF4930;
     
    }
}
button.registerbtnGoogle div {
    display: none;
}
.FormLink{
    text-align: center;
    padding: 20px 0px;
    margin: 20px 0px;
}

.boxText1{
    font-weight: 600;
    padding-left: 23px;
    font-size: 17px;
}
.registerbtnGoogle button {
    /* font-size: 24px; */
    background: #DF4930 !important;
    color: white !important;
    border: none!important;
    box-shadow: none!important;
    font-size: 14px!important;
    padding: 8px 20px !important;
}


.registerPageMain{
 
}

@media screen and (min-width: 320px) {
    .top-font {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    .top-font {
      font-size: 38px;
    }
  }

  .usernameSpan{
      font-size: 24px;
  }

  .usernameSpan>svg {
    margin-right: 10px;
}